<!--
    This launch file runs the Waveshare Alphabot 2 Robot ROS nodes.
-->

<launch>
    <!-- Default ROS output location, set this to 'log' to write stdout to a log file instead of the screen -->
    <arg name="output" default="screen" doc="ROS stdout output location (log/screen)"/>
    
    <include file="$(find waveshare_alphabot2)/launch/Alphabot2.launch" />
    
    <node pkg="waveshare_alphabot2" type="test.py" name="Alphabot2_Test" output="$(arg output)"/>
</launch>